# Dependencies for the pyhon code.
# Install all dependencies with:
# `pip install -r requirements.txt`

# --- Packages to install ---

# Standart Python packages (might be installed already):
random2
Pillow==2.2.2
python-csv